<?xml version="1.0"?>
<robot name="MH5" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="use_mock_hardware" default="false" />

    <xacro:include filename="$(find mh5_description)/urdf/mh5_robot_revH.urdf.xacro" />
    <xacro:include filename="mh5_hardware.xacro" />

    <xacro:mh5_hardware name="MH5Hardware" use_mock_hardware="$(arg use_mock_hardware)" />

</robot>